{% extends 'base.html' %}

{% block title %}
    Register Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
    <form method="POST" class="form-register" style="color: rgb(82, 82, 82)">
        {{ form.hidden_tag() }} <!--creates a token to protect site from cross website forgery attacks-->
        <br>
        <img class="mb-4" src="https://i.ibb.co/T2GFTL7/letter-fm-logo-design-template-260nw-1789813841-2.jpg" alt="letter-fm-logo-design-template-260nw-1789813841-2" border="0" style="width:150px;height:150px">
        <br>
        <h1 class="h3 mb-3 font-weight-normal">
            Please Create your Account
        </h1>
        <br>
        {{ form.username.label() }}
        {{ form.username(class="form-control", placeholder="User Name") }} <!--accepsts attribute like in html-->

        {{ form.email_address.label() }}
        {{ form.email_address(class="form-control", placeholder="Email Address") }}

        {{ form.password1.label() }}
        {{ form.password1(class="form-control", placeholder="Password") }}

        {{ form.password2.label() }}
        {{ form.password2(class="form-control", placeholder="Confirm Password") }}
        
        <br>
        <div class="checkbox mb-3">
            <h6>Already have an account?</h6>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
         </div>

        <br>
        {{form.submit(class="btn btn-lg btn-block btn-primary")}}
        <br>
    </form>
    </div>
</body>
{% endblock %}

<!-- need to create secret key for forms because user will be giving personal info-->